# Dependências
node_modules/

# Builds
build/
dist/
coverage/

# Vercel
.vercel/

# Android (Capacitor)
android/.idea/
android/build/
android/app/build/

# Logs
*.log

# Sistema
.DS_Store

# Variáveis de ambiente
.env*
!.env.example
